.navbar
{
    margin: 55px 10vw;
    height: 58px;
    display: flex;
    align-items: center;

}
.navbar .title
{
    margin-right: 4.5vw;
}
.navbar .information
{
    margin-left: auto;
}
.navbar .information .sign-in
{
    font-size: 1.2vw;
    margin-right: 2vw;
}
.navbar .information .sign-up
{

    cursor: pointer;
    height: 58px;
    width: 10vw;
    border-radius:5px;
    background-color: #FF4820;
    color: white;
    border: none;
    font-size:1.2vw;
    font-weight: 400;
}
.navbar .sections
{
    display: flex;
    width: 50%;
    justify-content: space-between;
}
.navbar .section
{
    font-size: 1.2vw;
}

.blur
{
    z-index: -1;
    position: absolute;
    top: 0;
    width: 70VW;
    left: 0;
}