.possibility 
{
    display: flex;
    align-items: center;
    background-color: aqua;
    height: 39vw;
    width: 70vw;
    margin: 0 15vw;
}
.possibility img 
{
    height: 100%;
}
.possibility-container
{
    background-color: red;
    margin: auto 0 0 auto;
    width: 50%;
    height: 70%;
}